.product-detail{
    font-size: 14px;
}

.product-detail .product-title {
    display: flex;
    align-content: center;
    align-items: center;
}

.manufacturer {
    color: #12B8FF;
    padding: 2px 4px;
    border: 1px solid #12B8FF;
    border-radius: 3px;
    margin-left: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.description {
}

.options {
    display: flex;
}
.option-desc{
    margin: 8px 0 0 0;
}

.product-detail .field-radiobutton {
    width: 50vw;
}
